*{
  margin: 0;
  padding: 0;
}
.btn_main{
  font-size: 18px;
  font-weight: 520;
  color: #493531;
  border: 2px solid #493531;
  margin-left: 10px;
}
.btn_main:hover{
  background-color:  #493531;
  border: 2px solid #493531;
  color: #ffffff;
}
.btn_main2{
  font-size: 18px;
  font-weight: 520;
  color: #ffffff;
  background-color:  #493531;
  border: 2px solid #493531;
  margin-left: 10px;
}
.btn_main2:hover{
  background-color:  #ffffff;
  border: 2px solid #493531;
  color: #493531;
}



.overlay{
  position: relative;
  background: url("../accounts/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: 500px;
}


.content h3{
  font-size: 48px;
  font-family: 'Kaushan Script', cursive;

}
.content p{
  font-size: 30px;
  font-family: 'Courgette', cursive;
}
.select select {
  height: 48px;
    border-radius: 5px;
    float: right;
    margin-right: -20px;
      
}
.select_2 select {
  height: 48px;
  width: 100%;
  border-radius: 5px;
  font-family: arial;
}
.bttn_find button{
  height: 48px !important;
  float: left;
  margin-left: -25px;
  background-color: #314BFF;
  color: #fff;
}
.bttn_find button:hover{
  color:  #314BFF;
  background-color:#fff;
}
.overlay .container{
  margin-top: 100px;
}
.content_main h1,p{
  text-align: center;  
}
.content_main p{
  font-size: 25px;
  font-family: verdana;
}
.content_main{
  width: 60%;
  margin: auto;
  margin-top: 80px;
}
.main_container{
  width: 80%;
  margin: auto;
  margin-top: 100px;
}
.cont_1 .cont_2{
  height: 250px;
}
.cont_1 p{
 float: right;
 text-align: center;
 margin: auto;
 margin-top:55px;
}
.cont_1 img{
  height: 180px;
}

.cont_2 img{
  height: 150px;
}
.cont_2 p{
 float: right;
 text-align: center;
 margin-top:45px;
}
.overlay_2{
  position: relative;
  background: url("../accounts/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: 500px;
}

.overlay_2 .container{
    margin: auto;
  margin-top: 100px;

}
.bttn_find_2 button{
  height: 48px !important;
  float: left;
  margin-left: 110px;
  background-color: #314BFF;
  color: #fff;
}
.bttn_find_2 button:hover{
  color:  #314BFF;
  background-color:#fff;
}
.text input{
  height: 48px;
    border-radius: 5px;
    font-size: 18px;
    float: right;
    margin-right: -120px;
}
footer{
  height: 300px;
  padding: 30px 0px 0px 20px;
  margin-bottom: -20px;
}


/* LOGIN */




/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: arial;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  font-size: 22px;
  padding: 10px 10px;
  font-family: verdana;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  font-family: verdana;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}