
 {% load static %}
<!DOCTYPE html>
<html lang="en">

  <head> 

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Allabouthairdressers</title>

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing-page.css' %}"  rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Courgette|Kaushan+Script" rel="stylesheet">


  </head>

  <body>
    <nav class="navbar  bg-light static-top " style="height: 80px;">  
      <a class="navbar-brand" href="#"><img src="{% static 'accounts/logo1.png' %}"></a>

      <div class="button_main">
         <!-- <a class="btn btn_main" href="index.html"> Home</a> -->
        <a class="btn btn_main" href="{% url 'accounts:register' %}"> Sign In</a>
        <a class="btn  btn_main2" data-toggle="modal" data-target="#login-modal" href="{% url 'accounts:login1' %}"> Login</a>
        
        
      </div>
    </nav>




        <div class="loginmodal-container">
          <h1>Login to Your Account</h1><br>
          <form action="" method="post">
          	{% csrf_token %}
          <input type="text" name="user" placeholder="Username">
          <input type="password" name="password" placeholder="Password">
          {% for message in messages %}

                    <div class="alert alert-success">
                        <a class="close"  data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
            {% endfor %}
          <input type="submit" name="login" class="login loginmodal-submit" value="Login">
          </form>
          
          <div class="login-help">
          <a href="#">Register</a> - <a href="#">Forgot Password</a>
          </div>
        </div>
  </body>
</html>


